* {
    font-family: 'Shrikhand', serif;
    font-family: 'Roboto', sans-serif;
  }
  
   :root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color: #99E2D0;
    --dark-gray: #353535;
    --light-gray: #EAEAEA;
    --backgroung-gray: #F6F6F6;
  }

  body{
    margin: 0px;
}

.home-logo{
  display: flex;
  justify-content: center;
}

  .fa-heart {
    font-size: 30px;
  }

  .heart-full {
    color: transparent;
    opacity: 0;
    background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    transition: opacity 1s;
    position: relative;
    left: 30px;
    &:hover{
      opacity: 1;
    }
  
  }

  footer {
    background-color: var(--dark-gray);
    color: white;
    padding: 22px 25px 22px 25px;
    width: 100%;

    @media (min-width: 769px){
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: 1024px){
      display: flex;
      flex-direction: row-reverse;
      justify-content: right;     
    }
    

    img{
      height: fit-content;

      @media (min-width: 1024px){
        place-self: center;
      }
    }

   .texte {
      display: flex;
      justify-content: baseline;
    }

    ul{
      display: flex;
      flex-direction: column;
      padding: 0;

      @media (min-width: 1024px){
        flex-direction: row;
        align-items: center;
      }

      @media (min-width: 769px){
        align-items: center;
      }
    }

    li {
      display: flex;
      align-items: baseline;
      gap: 9px;

      @media (min-width: 1024px){
        padding-left: 7px;
        padding-right: 7px;
      }
    }
  }
