* {
    font-family: 'Shrikhand', serif;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --main-color: #9356DC;
    --second-color: #FF79DA;
    --third-color: #99E2D0;
    --dark-gray: #353535;
    --light-gray: #EAEAEA;
    --backgroung-gray: #F6F6F6;
  }

  .fa-heart {
    font-size: 30px;
  }

  .heart-full {
    color: transparent;
    opacity: 0;
    background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA));
    background-clip: text;
    -webkit-background-clip: text;
    transition: opacity 1s;
    position: relative;
    left: 30px;
    &:hover{
      opacity: 1;
    }
  
  }

  footer {
    background-color: var(--dark-gray);
    color: white;
    padding: 22px 25px 22px 25px;
    width: 100%;

    footer .texte {
      display: flex;
      justify-content: baseline;
    }

    ul{
      display: flex;
      flex-direction: column;
    }

    li {
      display: flex;
      align-items: baseline;
      gap: 9px;
    }
  }
