@import "_Commun";

header{

    .fa-arrow-left{
        font-size: 25px;
        padding-left: 17px;
    }

    img{
        display: flex;
        align-items: center;
        // padding-left: 89px;
        padding-right: 89px;
        padding-bottom: 13px;
        padding-top: 20px;
        position: relative;
        top: -45px;
        left: 100px;
        
        @media (min-width: 1024px){
            // left: 450px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}


main{
    // background-color: var(--backgroung-gray);
    background-color: white;
    img{
        width: 100%;
        height: 275px;
        object-fit: cover;
        position: relative;
        top: -45px;

        @media (min-width: 1024px){
            width: 1440px;
        }
    }

    .menu{
        background-color: var(--backgroung-gray);
        border-radius: 30px 30px 0px 0px;
        position: relative;
        top: -105px;

        @media (min-width: 1024px){
            width: 70%;
            left: 150px;
        }
        @media (min-width: 769px){
            display: flex;
            flex-direction: column;
            align-items: center;

        }
    }

    .menu-coeur{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    h1{
        font-family: shrikhand;
        margin: 0px;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 43px;

        // @media (min-width: 1024px){
        //     display: flex;
        //     justify-content: center;
        // }
    }

    .fa-heart {
        font-size: 30px;
      }
    
      .heart-full {
        color: transparent;
        opacity: 0;
        background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA));
        background-clip: text;
        -webkit-background-clip: text;
        transition: opacity 1s;
        position: relative;
        left: 30px;
        &:hover{
          opacity: 1;
        }
    }

    // .coeur{
    //     position: relative;
    //     right: -340px;
    //     bottom: 80px;

    //     @media (min-width: 1024px){
    //         right: -530px;
    //     }
    // }

    h2{
        font-family: Roboto;
        font-weight: 100;
        font-size: 16px;
        // text-decoration: underline;
        // text-decoration-color:#99E2D0;
        // padding-bottom: 12px;
        // padding-left: 10px;
        margin-left: 10px;
        border-bottom: 2px solid;
        border-color: var(--third-color);
        border-width: 3px;
        width: 40px;

        @media (min-width: 1024px){
            position: relative;
            left: 40px;
        }
    }

    hr{
        border-color: var(--third-color);
        width: 10%;
        position: relative;
        right: 195px;
        bottom: 20px;

        @media (min-width: 1024px){
            right: 285px;
        }
    }

    .entree1{
        animation: entrees 2s;
        // animation-duration: 2s;
    }

    .entree2{
        animation: entrees 2s;
        // animation-duration: 2s;
    }

    .entree3{
        animation: entrees 2s;
        // animation-duration: 2s;
    }

    .plat1{
        animation: plats 3s;
        // animation-duration: 2s;
    }

    .plat2{
        animation: plats 3s;
        // animation-duration: 2s;
    }

    .plat3{
        animation: plats 3s;
        // animation-duration: 2s;
    }

    .dessert1{
        animation: desserts 4s;
        // animation-duration: 2s;
    }

    .dessert2{
        animation: desserts 4s;
        // animation-duration: 2s;
    }

    .dessert3{
        animation: desserts 4s;
        // animation-duration: 2s;
    }

    @keyframes entrees {
        0%{
            transform: translateY(0)
                        scaleX(0);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(30px);
        }
    }

    @keyframes plats {
        0% 
        ,20%{
            transform: translateY(0)
                        scaleX(0);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(30px);
        }
        
    }

    @keyframes desserts {
        0%
        ,30%{
            transform: translateY(0) 
                        scaleX(0);
        }
        50%{
            transform: translateY(-30px);
        }
        100%{
            transform: translateY(30px);
        }
        
    }
    
    ul{
    @media (min-width: 769px){
            display: flex;
            flex-direction: column;
            align-items: center;
        } 
        
        li{
        border-radius: 20px;
        background: var(--Background, #F6F6F6);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        width: 349px;
        // height: 69px;
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        justify-content: space-between;
        margin-top: 12px;
        font-family: 'Roboto';
        padding-left: 10px;
        
        @media (min-width: 1024px){
          width: 634px;  
        }
        
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px;
        }

        .texte{
            width: 100%;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            h3{
                margin: 0px;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            h4{
                margin-top: 5px;
                margin-bottom: 0px;
                width: 50%;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        

            // p{
            //     padding-right: 15px;
            //     margin: 0px;
            //     width: 50%;
            // }

        }

        // div {
        //     display: flex;
        // }

        .prix{
            padding: 0px;
            position: relative;
            top: 45px;
            right: 15px;
            font-weight: bolder;
        }

        .coche{
            justify-content: space-evenly;
            display: flex;
            width: 59px;
            // height: 69px;
            align-items: center;
            border-radius: 0px 20px 20px 0px;
            width: 0;
            padding: 0px;
            transition: width 1s;
        }
        
        &:hover .coche {
            background-color: var(--third-color);
            width: 59px;
        }
        
        .fa-circle-check{
            visibility: hidden;
        }
        
        &:hover .fa-circle-check{
            visibility: visible;
        }
   }
}

    button {
        color: white;
        border: none;
        width: 218px;
        height: 50px;
        font-size: 16px;
        border-radius: 25px;
        text-align: center;
        margin-left: 85px;
        margin-top: 40px;
        margin-bottom: 40px;
        background: var(--Button-Gradient, linear-gradient(#FF79DA, #9356DC));
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transition: opacity 2s, box-shadow 2s;
        &:hover {
          opacity: 0.6;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        }

        @media (min-width: 1024px){
            position: relative;
            left: 150px;
        }
      
      
    }
}



@media (min-width: 1024px){
            
        }

@media (min-width: 769px){

}
