@import "_Commun";

@keyframes loader{
  0% {opacity:0;
  }
  
  25% {opacity: 0;
  }
  
  100% { opacity: 1;}
}


.fa-carrot {
  font-size: 100px;
  animation: bounce-out-down .2ms;
  animation-duration: 2s;
  position: relative;
  left: 200px;
  top: 600px;
  animation-fill-mode: forwards;

  @media (min-width: 768px) and (max-width: 1024px){
    left: 450px;
  }

  @media (min-width: 1025px){
    left: 500px;
  }
}

@keyframes bounce-out-down {
  0% { transform: translateY(0); }
  20% {
    opacity: 1;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

header{
  animation: loader 5s;
  margin-top: -90px;


  img {
  padding: 14px 0px 13px 0px;
  }
} 

header nav {
  background-color: var(--light-gray);
  text-align: center;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  input{
    background: none;
    clip-path: content-box;
    text-align: justify;
    font-size: larger;
  }

  h3 {
    color: var(--dark-gray);
  }
}

.section-boutton {
  animation: loader 5s;
  background-color: var(--backgroung-gray);
  padding-bottom: 50px;

  @media (min-width: 768px) and (max-width: 1024px){
    display:flex;
    flex-direction: column; 
  }

  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    height: 68px;
    margin-top: 4px;
    padding-top: 30px;
  }

  h3 {
    color: var(--dark-gray);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
}

.explorer{
  display: flex;
  justify-content: center; 
}

  
  section button {
  animation: loader 5s;
  color: white;
  border: none;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  background: var(--Button-Gradient, linear-gradient(#FF79DA, #9356DC));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: opacity 2s, box-shadow 2s;
  &:hover {
    opacity: 0.6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  }
}

.fonctionnement {
  display: flex;
  text-align: -webkit-center;
  padding-left: 20px;
  animation: loader 5s;
   ::after{
    animation-fill-mode: forwards;}
    
    @media (min-width: 768px) and (max-width: 1024px){
      text-align: -webkit-center;
    }
  
    @media (min-width: 1025px){
    display: flex;
    height: 228px;
    text-align: left;
    place-content: center;     
  }

  .fonctionnement-titre{
    width: 1012px;
  }

  h2{
    text-align: left;
    
    @media (min-width: 768px) and (max-width: 1024px){
      text-align: center;
    }
  
    @media (min-width: 1025px){
    text-align: left;
  }
  }
  
  ol{
    @media (min-width: 1025px){
   display: flex;
   flex-direction: row;  
   padding-bottom: 50px;
   gap: 30px;
   width: 100%;     
    }
  }
}

.liste-home {
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 322.486px;
  height: 72.379px;
  display: flex;
  justify-content: flex-start;
  counter-increment: listes;
  margin-top: 25px;
  align-items: center;
  width: 90%;

  .fa-solid{
    color: #7E7E7E;
    padding-right: 15px;
  }
}

.liste-home::before{
  background-color: var(--main-color);
  border-radius: 50%;
  color: white;
  content: counter(listes);
  display: grid;
  height: 2rem;
  left: -1rem;
  place-items: center;
  position: relative;
  width: 2rem;
}

.heart-full {
  color: transparent;
  opacity: 0;
  background: var(--Button-Gradient, linear-gradient(#9356DC, #FF79DA));
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 1s;
  position: relative;
  left: 30px;
  &:hover{
    opacity: 1;
  }

}


.liste-home:hover .fa-solid {
  color: var(--main-color);
}

.fa-heart {
  font-size: 30px;
}

.section-restaurant {
  animation: loader 5s;
  background-color: var(--backgroung-gray);
  width: 100%;
  padding-top: 54px;

  @media (min-width: 1025px){
    display: flex;
    flex-direction: column;         
  }
}


.restaurant section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.section-restaurant {
  width: 100%;
  align-self: stretch;

  h2{
    // padding-left: 20px;
    // margin-top: 0px;
    // margin-bottom: 0px;
    // font-family: 'Roboto';
    // font-weight: 700;
    text-align: left;
    padding-left: 20px;

    @media (min-width: 768px) and (max-width: 1024px){
      text-align: center;
    }

    @media (min-width: 1025px){
      text-align: left;
      // margin-left: 340px;
    }
  }

  .container-restaurant {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;

    @media (min-width: 1025px){
      // width: 100%;
      place-self: center;
    }

    .restaurant-titre{
      width: 100%;
    }
    
    .restaurant-cards{

      @media (min-width: 768px) and (max-width: 1024px){
        align-self: center;
      }

      @media (min-width: 1025px){
        display: flex;
        width: 100%;
        gap: 100px;
        place-content: center;  
      }
    }

    a{
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 18px;
      color: #000;
    }

    article { 
      margin-top: 33px;
      width: 90%;
      height: 251px;
      display: flex;
      flex-wrap: wrap;
      border-radius: 15px;
      background: white;
      margin-bottom: 30px;
      padding-bottom: 77px;
      position: relative;

      @media (min-width: 1025px){
        width: 490px;
        height: 251px;
      }
    
        img {
        width: 100%;
        height: 231px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }

      .Nouveau{
        background-color: #99E2D0;
        color: #008766;
        border-radius: 2px;
        width: 80px;
        position: absolute;
        left: 455px;
        top: 13px;
        display: flex;
        justify-content: center;
        padding: 4px;
        font-size: 14px;

        @media (min-width: 1025px){
          left: 357.41px;
        }
      }
    }

    
    .card-content {
        gap: 8px;
        padding-left: 15px;
        padding-bottom: 10px;
        height: 77px;
        width: 100%;
        text-align: left;
        
      .card-title {
        color: #000;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 267px;
        height: 20px;
      }

      .coeur-nv{
        padding-right: 30px;
        position: relative;
        bottom: 60px;
        display: flex;
        justify-content: right;
      }

      .coeur{
        padding-right: 30px;
        position: relative;
        bottom: 60px;
        display: flex;
        justify-content: right;
      }
    }
  }
}

footer{
  animation: loader 5s;
}
